body {
	background-color: #111;
	color: #ddd;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

button {
	display: block;
}

svg {
	max-height: 80%;
	fill: #ddd;
}

.inputpercent {
	display: inline;
	background: none;
	outline: none;
	border: none;
	color: #ddd;
	width: none;
}